{% extends "layout.html" %}

{% block main_content %}
<section class="dates">
  {% for date in date_range(selected_date) %}
  <a class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else ''}}"
    href="{{ url_for('index', date=date) }}">
    <time class="date" datetime="{{ date }}">
      <span>{{ date.strftime("%a") }}</span>
      <span>{{ date.strftime("%d") }}</span>
    </time>
  </a>
  {% endfor %}
</section>
<section class="task-list">
  {% for habit in habits %}
  <div class="habit">
    <p class="habit__name">
      {{ habit }}
    </p>
  </div>
  {% endfor %}
</section>
{% endblock %}